<div class="home-callout text-center container-fluid">
    <h1>Welcome to RealQuotes</h1>
    <h3 class="quote">"Everything on the internet is always true" - Abraham Lincoln</h3>
    <div class="lincoln-image"></div>
</div>
