/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    font-family: 'Sumana', serif;
}

.quote {
    font-style: italic;
}

.navbar {
    background-color: black;
}

.home-callout, .about, .contact-table {
    // Gradient by @_ighosh at http://uigradients.com/#
    background: #FF5F6D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF5F6D , #FFC371); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF5F6D , #FFC371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.navbar {
    border: none;
}

.navbar-brand {
    font-family: 'Sumana', serif;
    font-size: 150%;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
     &:hover {
        color: white;
        opacity: 0.75;
     }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover, &:focus {
        background-color: #FFC371;
    }
}

.home-callout, .about {
    color: white;
    margin-top: -18px;
    padding-top: 50px;
    padding-bottom: 1080px;
}

.lincoln-image {
    width:384;
    height:500px;
    content:url(http://static1.squarespace.com/static/5614123de4b075fc1f93ec5a/561518cde4b01128ae1c5ccb/56151930e4b01128ae1c7583/1444223280377/lincoln.jpg?format=original);
    border: 3px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.contact-table {
    margin-top: -18px;
    margin-left: -100px;
    margin-right: -100px;
    padding-bottom: 1080px;
}

.contact-nik {
    color: white;
}
